
* {
    margin: 20;
    padding: 10;
    
}


body {
    font-family: Arial;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}


h1 {
    text-align: center;
    color: red;
}


ul {
    list-style-type: none;
    margin-bottom: 20px;
}

ul li {
  
    margin-right: 20px;
}

ul li a {
    color: #007BFF;
    font-size: 18px;
}

ul li a:hover {
    color: #0056b3;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
}


p {
    font-size: 18px;
}


img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}


button:focus {
    outline: none;
}


#odp {
    font-size: 20px;
    
    margin-top: 10px;
}
